.happy-section .container {
  margin-top: 128px;
  margin-bottom: 228px;
}

.happy-section .container img {
  width: 100%;
}

/* @media screen and (max-width: 1300px) {
  .happy-section .container {
    margin-bottom: 128px;
  }
}

@media screen and (max-width: 1100px) {
  .happy-section .container {
    margin-bottom: 0;
  }
} */
