.team-section {
  margin-top: 128px;
}

.team-section .container {
  display: flex;
}

.our-team {
  width: 25%;
}

.our-team h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.our-team p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(91, 91, 91, 1);
}

.team-members {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 80px;
}

@media screen and (max-width: 1328px) {
  .team-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .our-team {
    width: 100%;
    text-align: center;
  }

  .team-members {
    width: 100%;
    justify-content: center;
  }
}
