.testimonials {
  margin-top: 128px;
}

.testimonials h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.3px;
  color: rgba(13, 19, 23, 1);
  margin-bottom: 48px;
}

.testimonials-flex {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
