.testimonials {
  margin-top: 128px;
}

.testimonials .container {
  position: relative;
}

.testimonials h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.3px;
  color: rgba(13, 19, 23, 1);
  margin-bottom: 48px;
}

.testimonials-flex {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.swiper {
  position: static;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute; /* Position the arrows outside the container */
  top: 70%; /* Vertically center the arrows */
  transform: translateY(-50%); /* Adjust for vertical centering */
}

.swiper-button-prev {
  left: -50px; /* Position the previous arrow 50px outside the left edge */
}

.swiper-button-next {
  right: -25px; /* Position the next arrow 50px outside the right edge */
}
